.top{
  border: 2px solid grey;
  width: 98%;
  height:10%;
  padding: 2%;
  display: flex;
}

.logo{
  width:auto;
  max-height: height:96%;
  border:0;
  float: left;
  border-radius: 50%;
  padding: 2%;
}
h1{
  float: left;
}

input{
  margin-bottom: 2%;
}

select{
  margin-bottom: 2%;
}

.links{
  float:right;
  font-size: 14px;
  padding: 5%;
}

.info{
  width: 100%;
  font-size: 14px;
  margin: 2%;
}
footer{
  height: 10%;
  border: 2px solid grey;
  display: flex;
}
.quad{
  border-radius: 1%;
  height: 60%;
  float:right;
  padding:2%;
}

.rect{
  height: 60%;
  float: right;
  padding:2%;
}
p {
    font-family: verdana;
    font-size: 12px;
}
